<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Chat
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.12/css/all.css", integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9",
        crossorigin="anonymous")
        script(src = 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
        link(href="css/style.css", rel='stylesheet', type="text/css")
    body
        .wrapper
            #cover
                .form
                    .form-name Wellcome to the Chat
                    input#input-name(type="text", placeholder="User Name", required)
                    input#input-nickname(type="text", placeholder="User Nickname", required)
                    button.btn#btn-login Log in
            h1#chat-name My awesome chat <i class="fas fa-bug"></i>
            h3#user-name 
            main#main
            aside#aside
                ul#user-list
            div#typing-status
            input#input-message(type="text")
            button.btn#btn-send Send
        //- script(src="js/http.js")
        script(src = 'js/socket.js')

        
