<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Chat
        link(href="../css/style.css", rel='stylesheet', type="text/css")
    body
        .wrapper
            header.header
                h1 Chat name
                .header-right
                    h3.user-name name
                    button.btn.btn-logout Log out
            main.main
                .message
                    .message-info
                        span author
                        span date
                    p.message-content
            aside.aside
                p user
                p user
            footer.footer
                input(type="text")
                button.btn.btn-send Send
        
