* {
    box-sizing: border-box;
}

h1,h2, h3, h4, h5, h6, p {
    margin:0;
}

input[type="text"], input[type="email"] {
    outline: none;
    padding: 5px;
}


body {
    padding: 0;
    margin:0;
    font-family: sans-serif;
    color: #272727;
}

.wrapper {
    padding: 0 20px;
    position: relative;
    background-color: rgb(198, 220, 228);
    height: 100vh;
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "hd hd hd hd"
                         "mn mn mn as"
                         "mn mn mn as"
                         "mn mn mn as"
                         "in in in bt"
}

#cover {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 5;
}

.form {
    background-color: rgba(211, 211, 211, 0.719);
    box-shadow: 0px 0px 5px rgb(175, 175, 175);
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: auto;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.log-in, .registration {
    width: 80%;
}

.log-in, .registration {
    display: flex;
    flex-direction: column;
}

.header{
    grid-area: hd;
    display:flex;
    justify-content: space-between;
    align-items:center;
    //background-color: #fff;
    padding-left: 20px;

    &-right {
        width: 25%;
    }

}

#main {
    padding: 20px;
    grid-area: mn;
    background-color: #fff;
    border:1px solid white;
    box-shadow: 0px 0px 5px rgb(175, 175, 175);

}

.message {

    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(211, 211, 211, 0.719);
    box-shadow: 0px 0px 5px rgb(175, 175, 175);

    &-info {
        display:flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &-content {
        font-size: 16px;
    }
}

#aside {
    padding: 20px;
    grid-area: as;
    background-color: #fff;
    border:1px solid white;
    box-shadow: 0px 0px 5px rgb(175, 175, 175);
    font-weight: bold;
}

.user-status {
    color: green;
    font-weight: normal;
}

.footer {
    grid-area: ft;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#input-field {
    grid-area: in;
    height: 50px;
    border:1px solid white;
    box-shadow: 0px 0px 5px rgb(175, 175, 175);
    align-self: center;
}

.btn {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 5px rgb(175, 175, 175);
    background-color: #9BAFC2;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3 ease-in-out;

    &:hover {
        color: white;
    }
}

#btn-send {
    grid-area: bt;
    background-color: rgba(36, 120, 165, 0.7);
    align-self: center;
}

#btn-logout {
    background-color: rgba(255, 143, 32, 0.7);
}
